/* line 120, icons-h/*.png */
.icons-h-sprite, .icons-h-distribution, .icons-h-freight, .icons-h-locat, .icons-h-login-ps, .icons-h-login-user, .icons-h-logo, .icons-h-search, .icons-h-send, .icons-h-shopping-cart, .icons-h-slogan {
  background-image: url('../images/icons-h-s273f5820c9.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-distribution {
  background-position: -61px -20px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-freight {
  background-position: 0 -20px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-locat {
  background-position: -21px -81px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-login-ps {
  background-position: -90px -142px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-login-user {
  background-position: -37px -81px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-logo {
  background-position: 0 -142px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-search {
  background-position: 0 -193px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-send {
  background-position: -64px -81px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-shopping-cart {
  background-position: 0 -81px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-slogan {
  background-position: 0 0;
}

/* line 11, ../scss/icon/index-icon.scss */
.icons-h-locat {
  width: 16px;
  height: 20px;
  margin: 8px 8px 0 0;
}

/* line 17, ../scss/icon/index-icon.scss */
.icons-h-shopping-cart {
  width: 21px;
  height: 20px;
  margin: 8px 8px 0 0;
}

/* line 23, ../scss/icon/index-icon.scss */
.icons-h-logo {
  width: 90px;
  height: 51px;
  margin: 20px 0 0 0;
}

/* line 29, ../scss/icon/index-icon.scss */
.icons-h-slogan {
  width: 150px;
  height: 20px;
  margin: 34px 0 0 10px;
}

/* line 35, ../scss/icon/index-icon.scss */
.icons-h-flag {
  width: 62px;
  height: 62px;
  margin: 12px 0 0 14px;
}

/* line 41, ../scss/icon/index-icon.scss */
.icons-h-login-user {
  width: 27px;
  height: 29px;
  margin: 10px 0 0 14px;
}

/* line 47, ../scss/icon/index-icon.scss */
.icons-h-login-ps {
  width: 25px;
  height: 31px;
  margin: 12px 0 0 14px;
}

/* line 3, ../scss/area/head-bar.scss */
.ui-head-bar {
  height: 36px;
  line-height: 36px;
  color: #fff;
  background-color: #ff7d95;
}

/* line 10, ../scss/area/head-bar.scss */
.ui-head-right {
  border-right: 1px solid #fff;
}

/* line 14, ../scss/area/head-bar.scss */
.ui-head-r-item {
  padding: 0 20px;
  float: right;
  border-left: 1px solid #fff;
}

/* line 14, ../scss/area/search-area.scss */
.search-area {
  height: 80px;
  line-height: 80px;
}

/* line 19, ../scss/area/search-area.scss */
.search-area-logo {
  width: 294px;
}

/* line 23, ../scss/area/search-area.scss */
.search-area-box {
  width: 439px;
}

/* line 27, ../scss/area/search-area.scss */
.search-area-right {
  width: 267px;
}

/* line 31, ../scss/area/search-area.scss */
.serach-form-box {
  height: 45px;
  border: 1px solid #ccc;
  margin: 18px 0 0 0;
}

/* line 41, ../scss/area/search-area.scss */
.serach-form-input {
  width: 351px;
  height: 26px;
  line-height: 26px;
  padding: 10px 0 0 8px;
  font-weight: normal;
  overflow: hidden;
  color: #000;
}

/* line 51, ../scss/area/search-area.scss */
.serach-form-btn {
  position: absolute;
  top: -1px;
  right: 0;
  width: 80px;
  height: 47px;
  background-color: #ff4466;
}

/* line 7, ../scss/area/slide-area.scss */
.swiper-container {
  overflow: initial;
}

/* line 11, ../scss/area/slide-area.scss */
.slide-area {
  height: 344px;
}

/* line 16, ../scss/area/slide-area.scss */
.ui-slide {
  position: relative;
}

/* line 30, ../scss/area/slide-area.scss */
.ui-slide-prev, .ui-slide-next {
  height: 344px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  background: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

/* line 42, ../scss/area/slide-area.scss */
.ui-slide-prev {
  left: -1000px;
}

/* line 47, ../scss/area/slide-area.scss */
.ui-slide-next {
  left: 1000px;
}

/* line 3, ../scss/area/tab-menu.scss */
.tab-menu-area {
  height: 102px;
}

/* line 9, ../scss/area/tab-menu.scss */
.tab-menu-content {
  width: 604px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ff4466;
  margin-top: 36px;
}
/* line 17, ../scss/area/tab-menu.scss */
.tab-menu-content li {
  width: 150px;
  text-align: center;
  border-right: 1px solid #ff4466;
}
/* line 22, ../scss/area/tab-menu.scss */
.tab-menu-content li:last-child {
  border: none;
}
/* line 26, ../scss/area/tab-menu.scss */
.tab-menu-content li.active {
  background: #ff4466;
  color: #fff;
}

/* line 11, ../scss/area/goods-area.scss */
.goods-area {
  width: 998px;
  height: auto;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
/* line 18, ../scss/area/goods-area.scss */
.goods-area li {
  width: 248.5px;
  height: 131px;
  position: relative;
  float: left;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

/* line 30, ../scss/area/goods-area.scss */
.goods-link:hover .goods-desp-title {
  color: #ff4466;
}
/* line 34, ../scss/area/goods-area.scss */
.goods-link:hover:after {
  width: 100%;
  height: 100%;
  content: '';
  visibility: visible;
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #ff4466;
}

/* line 47, ../scss/area/goods-area.scss */
.goods-img-area {
  width: 111px;
}

/* line 51, ../scss/area/goods-area.scss */
.goods-img {
  width: 80px;
  height: 80px;
  margin: 24px 0 0 12px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 58, ../scss/area/goods-area.scss */
.goods-desp-area {
  width: 137.5px;
}

/* line 62, ../scss/area/goods-area.scss */
.goods-desp-title {
  margin: 18px 0 13px 0;
  font-weight: bold;
  font-size: 22px;
}

/* line 68, ../scss/area/goods-area.scss */
.goods-desp-desp {
  color: #cdcdcd;
}

/* line 72, ../scss/area/goods-area.scss */
.goods-desp-flag {
  margin: 15px 0 0 0;
}
/* line 75, ../scss/area/goods-area.scss */
.goods-desp-flag span {
  margin-right: 3px;
  padding: 5px 10px;
  color: #fff;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
/* line 82, ../scss/area/goods-area.scss */
.goods-desp-flag .flag-0 {
  background: #cccccc;
}
/* line 85, ../scss/area/goods-area.scss */
.goods-desp-flag .flag-1 {
  background: #fdcc36;
}
/* line 88, ../scss/area/goods-area.scss */
.goods-desp-flag .flag-2 {
  background: #ff889e;
}
/* line 91, ../scss/area/goods-area.scss */
.goods-desp-flag .flag-3 {
  background: #7feb91;
}
/* line 94, ../scss/area/goods-area.scss */
.goods-desp-flag .flag-4 {
  background: #36b0fd;
}

/* line 7, ../scss/area/ui-floor-area.scss */
.ui-floor-area {
  height: 219px;
  background: #f0f0f0;
  margin-top: 45px;
}

/* line 13, ../scss/area/ui-floor-area.scss */
.ui-floor-area-top {
  height: 164px;
}
/* line 16, ../scss/area/ui-floor-area.scss */
.ui-floor-area-top li {
  width: 20%;
  height: 100%;
  float: left;
}
/* line 22, ../scss/area/ui-floor-area.scss */
.ui-floor-area-top h4 {
  margin: 40px 0 18px 0;
  color: #666666;
}
/* line 27, ../scss/area/ui-floor-area.scss */
.ui-floor-area-top p {
  margin-bottom: 13px;
  color: #9e9e9e;
}

/* line 33, ../scss/area/ui-floor-area.scss */
.ui-floor-area-bottom {
  color: #cdcdcd;
  height: 55px;
  line-height: 55px;
  border-top: 1px solid #e5e5e5;
}

/* line 12, ../scss/ui/ui-dialog.scss */
.ui-dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
}
/* line 20, ../scss/ui/ui-dialog.scss */
.ui-dialog:before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  visibility: visible;
  content: '';
}

/* line 33, ../scss/ui/ui-dialog.scss */
.ui-dialog-box {
  width: 500px;
  height: 440px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -220px;
  z-index: 2;
  background: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  border-top: 4px solid #ff4466;
}

/* line 40, ../scss/ui/ui-dialog.scss */
.ui-dialog-img {
  height: 119px;
}

/* line 44, ../scss/ui/ui-dialog.scss */
.ui-dialog-box-form {
  height: 317px;
}

/* line 50, ../scss/ui/ui-dialog.scss */
.ui-dialog-box-input {
  width: 338px;
  height: 48px;
  line-height: 48px;
  margin-top: 10px;
  border: 1px solid #e5e5e5;
}
/* line 57, ../scss/ui/ui-dialog.scss */
.ui-dialog-box-input.first {
  margin-top: 40px;
}

/* line 62, ../scss/ui/ui-dialog.scss */
.ui-dialog-box-input-l {
  width: 62px;
}

/* line 66, ../scss/ui/ui-dialog.scss */
.ui-dialog-box-input-r {
  width: 276px;
}

/* line 70, ../scss/ui/ui-dialog.scss */
.ui-dialog-form-input {
  width: 100%;
  height: 26px;
  line-height: 26px;
  padding: 12px 0 0 0;
  font-weight: normal;
  overflow: hidden;
  color: #000;
}

/* line 80, ../scss/ui/ui-dialog.scss */
.ui-dialog-box-submit {
  display: inherit;
  margin-top: 46px;
  font-size: 18px;
  color: #fff;
  background: #ff4466;
}

/* line 88, ../scss/ui/ui-dialog.scss */
.ui-dialog-box-sign-link {
  margin-top: 30px;
}

/*# sourceMappingURL=index.css.map */
