/* line 120, icons-h/*.png */
.icons-h-sprite, .icons-h-distribution, .icons-h-freight, .icons-h-locat, .icons-h-login-ps, .icons-h-login-user, .icons-h-logo, .icons-h-search, .icons-h-send, .icons-h-shopping-cart, .icons-h-slogan {
  background-image: url('../images/icons-h-s273f5820c9.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-distribution {
  background-position: -61px -20px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-freight {
  background-position: 0 -20px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-locat {
  background-position: -21px -81px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-login-ps {
  background-position: -90px -142px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-login-user {
  background-position: -37px -81px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-logo {
  background-position: 0 -142px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-search {
  background-position: 0 -193px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-send {
  background-position: -64px -81px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-shopping-cart {
  background-position: 0 -81px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-h-slogan {
  background-position: 0 0;
}

/* line 11, ../scss/icon/index-icon.scss */
.icons-h-locat {
  width: 16px;
  height: 20px;
  margin: 8px 8px 0 0;
}

/* line 17, ../scss/icon/index-icon.scss */
.icons-h-shopping-cart {
  width: 21px;
  height: 20px;
  margin: 8px 8px 0 0;
}

/* line 23, ../scss/icon/index-icon.scss */
.icons-h-logo {
  width: 90px;
  height: 51px;
  margin: 20px 0 0 0;
}

/* line 29, ../scss/icon/index-icon.scss */
.icons-h-slogan {
  width: 150px;
  height: 20px;
  margin: 34px 0 0 10px;
}

/* line 35, ../scss/icon/index-icon.scss */
.icons-h-flag {
  width: 62px;
  height: 62px;
  margin: 12px 0 0 14px;
}

/* line 41, ../scss/icon/index-icon.scss */
.icons-h-login-user {
  width: 27px;
  height: 29px;
  margin: 10px 0 0 14px;
}

/* line 47, ../scss/icon/index-icon.scss */
.icons-h-login-ps {
  width: 25px;
  height: 31px;
  margin: 12px 0 0 14px;
}

/* line 3, ../scss/area/head-bar.scss */
.ui-head-bar {
  height: 36px;
  line-height: 36px;
  color: #fff;
  background-color: #ff7d95;
}

/* line 10, ../scss/area/head-bar.scss */
.ui-head-right {
  border-right: 1px solid #fff;
}

/* line 14, ../scss/area/head-bar.scss */
.ui-head-r-item {
  padding: 0 20px;
  float: right;
  border-left: 1px solid #fff;
}

/* line 14, ../scss/area/search-area.scss */
.search-area {
  height: 80px;
  line-height: 80px;
}

/* line 19, ../scss/area/search-area.scss */
.search-area-logo {
  width: 294px;
}

/* line 23, ../scss/area/search-area.scss */
.search-area-box {
  width: 439px;
}

/* line 27, ../scss/area/search-area.scss */
.search-area-right {
  width: 267px;
}

/* line 31, ../scss/area/search-area.scss */
.serach-form-box {
  height: 45px;
  border: 1px solid #ccc;
  margin: 18px 0 0 0;
}

/* line 41, ../scss/area/search-area.scss */
.serach-form-input {
  width: 351px;
  height: 26px;
  line-height: 26px;
  padding: 10px 0 0 8px;
  font-weight: normal;
  overflow: hidden;
  color: #000;
}

/* line 51, ../scss/area/search-area.scss */
.serach-form-btn {
  position: absolute;
  top: -1px;
  right: 0;
  width: 80px;
  height: 47px;
  background-color: #ff4466;
}

/* line 7, ../scss/area/ui-floor-area.scss */
.ui-floor-area {
  height: 219px;
  background: #f0f0f0;
  margin-top: 45px;
}

/* line 13, ../scss/area/ui-floor-area.scss */
.ui-floor-area-top {
  height: 164px;
}
/* line 16, ../scss/area/ui-floor-area.scss */
.ui-floor-area-top li {
  width: 20%;
  height: 100%;
  float: left;
}
/* line 22, ../scss/area/ui-floor-area.scss */
.ui-floor-area-top h4 {
  margin: 40px 0 18px 0;
  color: #666666;
}
/* line 27, ../scss/area/ui-floor-area.scss */
.ui-floor-area-top p {
  margin-bottom: 13px;
  color: #9e9e9e;
}

/* line 33, ../scss/area/ui-floor-area.scss */
.ui-floor-area-bottom {
  color: #cdcdcd;
  height: 55px;
  line-height: 55px;
  border-top: 1px solid #e5e5e5;
}

/* line 9, ../scss/store.scss */
.ui-operate-area {
  width: 998px;
  height: 98px;
  border: 1px solid #e5e5e5;
}

/* line 15, ../scss/store.scss */
.ui-operate-image {
  width: 80px;
  height: 80px;
  margin-left: 12px;
  margin-right: 10px;
}

/* line 22, ../scss/store.scss */
.ui-operate-name-area {
  width: 310px;
}

/* line 26, ../scss/store.scss */
.ui-operate-name {
  margin-top: 24px;
}

/* line 30, ../scss/store.scss */
.ui-operate-desp {
  margin-top: 10px;
}

/* line 34, ../scss/store.scss */
.ui-operate-item {
  width: 160px;
  height: 50px;
  margin-top: 25px;
  padding-left: 10px;
  border-left: 2px solid #ffba00;
}

/* line 42, ../scss/store.scss */
.ui-operate-name1 {
  margin-top: 3px;
}

/* line 46, ../scss/store.scss */
.ui-operate-desp1 {
  margin-top: 7px;
}

/* line 52, ../scss/store.scss */
.goods-left {
  width: 751px;
  margin-right: 8px;
}

/* line 58, ../scss/store.scss */
.goods-right {
  width: 241px;
}

/* line 62, ../scss/store.scss */
.fliter-bar {
  height: 40px;
  line-height: 40px;
  background: #f0f0f0;
}

/* line 68, ../scss/store.scss */
.fliter-bar-item {
  position: relative;
  width: 77px;
  border-right: 1px solid #fff;
}

/* line 74, ../scss/store.scss */
.fliter-arrow-icon {
  position: absolute;
  top: 2px;
  left: 30px;
  z-index: 10;
  width: 9px;
  height: 11px;
  background: url('../images/store/red-down-arrow.png?1446385188') no-repeat 0 0;
}

/* line 84, ../scss/store.scss */
.goods-area-content {
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}

/* line 89, ../scss/store.scss */
.goods-area-list {
  width: 761px;
}

/* line 97, ../scss/store.scss */
.goods-item {
  float: left;
  width: 186.5px;
  height: 289px;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

/* line 105, ../scss/store.scss */
.goods-item-top {
  width: 100%;
  height: 190px;
  line-height: 190px;
  text-align: center;
}

/* line 116, ../scss/store.scss */
.goods-item-bottom {
  width: 100%;
  height: 99px;
  text-indent: 20px;
}

/* line 122, ../scss/store.scss */
.goods-item-name {
  font-weight: 500;
}

/* line 126, ../scss/store.scss */
.goods-item-num {
  color: #aaaaaa;
}

/* line 130, ../scss/store.scss */
.goods-item-price {
  color: #ff4466;
}

/* line 134, ../scss/store.scss */
.goods-item-card {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  background: url('../images/store/icon-cart.png?1446387278') no-repeat 0 0;
}

/* line 144, ../scss/store.scss */
.fliter-bar-icon-muen {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  z-index: 2;
  left: 12px;
  width: 17px;
  height: 14px;
  background: url('../images/store/icon-menu.png?1447573873') no-repeat 0 0;
}

/* line 152, ../scss/store.scss */
.fliter-bar-text {
  margin-left: 36px;
}

/* line 156, ../scss/store.scss */
.fliter-bar-icon-arrow {
  position: absolute;
  top: 50%;
  margin-top: -4.5px;
  z-index: 2;
  right: 12px;
  width: 15px;
  height: 9px;
  background: url('../images/store/icon-arrow.png?1447573873') no-repeat 0 0;
}

/* line 164, ../scss/store.scss */
.fliter-item {
  width: 221px;
  padding: 20px 0;
  margin: 0 10px;
  border-bottom: 1px solid #e5e5e5;
}
/* line 170, ../scss/store.scss */
.fliter-item a {
  line-height: 24px;
  color: #888888;
}

/* line 176, ../scss/store.scss */
.fliter-bar-title {
  margin-bottom: 12px;
  color: #333333;
}

/* line 181, ../scss/store.scss */
.fliter-line {
  margin: 0 5px;
}

/*# sourceMappingURL=store.css.map */
