@import "compass";
@import "compass/reset/utilities";
@import 'normalize-version';
@import 'normalize/base';
@import 'normalize/links';
@import 'normalize/forms';
@import 'normalize/groups';

@import "_base/_color";

body {
  @include reset-body;
  font: 14px Arial, SimSun;
  color: $theme-color-floor-top-title;
}

ul,
li {
  @include reset-list-style;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
}

input {
  line-height: normal;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: #292929;
}

/*clear float*/

.bfc {
  overflow: hidden;
  *zoom: 1;
}

.bfc:before,
.bfc:after {
  display: block;
  overflow: hidden;
  visibility: hidden;
  content: '';
}

.bfc:after {
  clear: both
}

.pr {
  position: relative;
}

.auto {
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

.dib {
  display: inline-block;
}

.db {
  display: block;
}

.txt-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}
