@import "compass";
@import "_base/_color";
@import "_base/_size";
.ui-area {
  width: $area-width;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs24 {
  font-size: 24px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt40 {
  margin-top: 40px;
}

.mr {
  margin-right: 10px;
}

.in20 {
  text-indent: 20px;
}

.c-desp {
  color: $theme-color-floor-top-desp;
}

.c-amount {
  color: $theme-color-search-btn;
}

.c-font {
  color: $theme-font-color;
}
