@import "_base/_size";
@import "_base/_color";
@import "_mixin/position";
@import "icon/index-icon";
@import "area/head-bar";
@import "area/search-area";
@import "area/ui-floor-area";

.ui-operate-area {
  width: $area-width - 2;
  height: 98px;
  border: 1px solid $theme-border-color;
}

.ui-operate-image {
  width: 80px;
  height: 80px;
  margin-left: 12px;
  margin-right: 10px;
}

.ui-operate-name-area {
  width: 310px;
}

.ui-operate-name {
  margin-top: 24px;
}

.ui-operate-desp {
  margin-top: 10px;
}

.ui-operate-item {
  width: 160px;
  height: 50px;
  margin-top: 25px;
  padding-left: 10px;
  border-left: 2px solid $theme-border-color2;
}

.ui-operate-name1 {
  margin-top: 3px;
}

.ui-operate-desp1 {
  margin-top: 7px;
}

$goods-left-width: 751px;

.goods-left {
  width: $goods-left-width;
  margin-right: 8px;
}

$goods-right-width: $area-width - $goods-left-width - 8px;
.goods-right {
  width: $goods-right-width;
}

.fliter-bar {
  height: 40px;
  line-height: 40px;
  background: #f0f0f0;
}

.fliter-bar-item {
  position: relative;
  width: 77px;
  border-right: 1px solid #fff;
}

.fliter-arrow-icon {
  position: absolute;
  top: 2px;
  left: 30px;
  z-index: 10;
  width: 9px;
  height: 11px;
  background: image-url('store/red-down-arrow.png') no-repeat 0 0;
}

.goods-area-content {
  border-left: 1px solid $theme-border-color;
  border-top: 1px solid $theme-border-color;
}

.goods-area-list {
  width: $goods-left-width + 10px;
}

$goods-item-height: 289px;
$goods-item-top-height: 190px;
$goods-item-bottom-height: $goods-item-height - $goods-item-top-height;

.goods-item {
  float: left;
  width: ($goods-left-width - 5) / 4;
  height: $goods-item-height;
  border-right: 1px solid $theme-border-color;
  border-bottom: 1px solid $theme-border-color;
}

.goods-item-top {
  width: 100%;
  height: $goods-item-top-height;
  line-height: $goods-item-top-height;
  text-align: center;
}

.goods-item-top-img {

}

.goods-item-bottom {
  width: 100%;
  height: $goods-item-bottom-height;
  text-indent: 20px;
}

.goods-item-name {
  font-weight: 500;
}

.goods-item-num {
  color: #aaaaaa;
}

.goods-item-price {
  color: $theme-color-search-btn;
}

.goods-item-card {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  background: image-url('store/icon-cart.png') no-repeat 0 0;
}

.fliter-bar-icon-muen {
  @include create-h-center(14px);
  left: 12px;
  width: 17px;
  height: 14px;
  background: image-url('store/icon-menu.png') no-repeat 0 0;
}

.fliter-bar-text {
  margin-left: 36px;
}

.fliter-bar-icon-arrow {
  @include create-h-center(9px);
  right: 12px;
  width: 15px;
  height: 9px;
  background: image-url('store/icon-arrow.png') no-repeat 0 0;
}

.fliter-item {
  width: $goods-right-width - 20px;
  padding: 20px 0;
  margin: 0 10px;
  border-bottom: 1px solid $theme-border-color;

  a {
    line-height: 24px;
    color: $theme-color-fliter-bar-item-link;
  }
}

.fliter-bar-title {
  margin-bottom: 12px;
  color: $theme-font-color;
}

.fliter-line {
  margin: 0 5px;
}
