/* line 3, ../../scss/area/head-bar.scss */
.ui-head-bar {
  height: 36px;
  line-height: 36px;
  color: #fff;
  background-color: #ff7d95;
}

/* line 10, ../../scss/area/head-bar.scss */
.ui-head-right {
  border-right: 1px solid #fff;
}

/* line 14, ../../scss/area/head-bar.scss */
.ui-head-r-item {
  padding: 0 20px;
  float: right;
  border-left: 1px solid #fff;
}

/*# sourceMappingURL=head-bar.css.map */
