.ui-interest-area{height:290px;width:998px;border:1px solid #e5e5e5}.ui-interest-item{width:181px;height:292px;border-right:1px solid #e5e5e5}.ui-interest-item-image-area{height:179px}.ui-interest-item-txt{height:113px;padding:0 5px 0 20px}.ui-interest-item-desp{margin-top:5px;line-height:16px}
