/* line 14, ../../scss/area/search-area.scss */
.search-area {
  height: 80px;
  line-height: 80px;
}

/* line 19, ../../scss/area/search-area.scss */
.search-area-logo {
  width: 294px;
}

/* line 23, ../../scss/area/search-area.scss */
.search-area-box {
  width: 439px;
}

/* line 27, ../../scss/area/search-area.scss */
.search-area-right {
  width: 267px;
}

/* line 31, ../../scss/area/search-area.scss */
.serach-form-box {
  height: 45px;
  border: 1px solid #ccc;
  margin: 18px 0 0 0;
}

/* line 41, ../../scss/area/search-area.scss */
.serach-form-input {
  width: 351px;
  height: 26px;
  line-height: 26px;
  padding: 10px 0 0 8px;
  font-weight: normal;
  overflow: hidden;
  color: #000;
}

/* line 51, ../../scss/area/search-area.scss */
.serach-form-btn {
  position: absolute;
  top: -1px;
  right: 0;
  width: 80px;
  height: 47px;
  background-color: #ff4466;
}

/*# sourceMappingURL=search-area.css.map */
