/* line 7, ../../scss/area/slide-area.scss */
.swiper-container {
  overflow: initial;
}

/* line 11, ../../scss/area/slide-area.scss */
.slide-area {
  height: 344px;
}

/* line 16, ../../scss/area/slide-area.scss */
.ui-slide {
  position: relative;
}

/* line 30, ../../scss/area/slide-area.scss */
.ui-slide-prev, .ui-slide-next {
  height: 344px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  background: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

/* line 42, ../../scss/area/slide-area.scss */
.ui-slide-prev {
  left: -1000px;
}

/* line 47, ../../scss/area/slide-area.scss */
.ui-slide-next {
  left: 1000px;
}

/*# sourceMappingURL=slide-area.css.map */
