/* line 3, ../../scss/area/tab-menu.scss */
.tab-menu-area {
  height: 102px;
}

/* line 9, ../../scss/area/tab-menu.scss */
.tab-menu-content {
  width: 604px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ff4466;
  margin-top: 36px;
}
/* line 17, ../../scss/area/tab-menu.scss */
.tab-menu-content li {
  width: 150px;
  text-align: center;
  border-right: 1px solid #ff4466;
}
/* line 22, ../../scss/area/tab-menu.scss */
.tab-menu-content li:last-child {
  border: none;
}
/* line 26, ../../scss/area/tab-menu.scss */
.tab-menu-content li.active {
  background: #ff4466;
  color: #fff;
}

/*# sourceMappingURL=tab-menu.css.map */
