/* line 7, ../../scss/area/ui-floor-area.scss */
.ui-floor-area {
  height: 219px;
  background: #f0f0f0;
  margin-top: 45px;
}

/* line 13, ../../scss/area/ui-floor-area.scss */
.ui-floor-area-top {
  height: 164px;
}
/* line 16, ../../scss/area/ui-floor-area.scss */
.ui-floor-area-top li {
  width: 20%;
  height: 100%;
  float: left;
}
/* line 22, ../../scss/area/ui-floor-area.scss */
.ui-floor-area-top h4 {
  margin: 40px 0 18px 0;
  color: #666666;
}
/* line 27, ../../scss/area/ui-floor-area.scss */
.ui-floor-area-top p {
  margin-bottom: 13px;
  color: #9e9e9e;
}

/* line 33, ../../scss/area/ui-floor-area.scss */
.ui-floor-area-bottom {
  color: #cdcdcd;
  height: 55px;
  line-height: 55px;
  border-top: 1px solid #e5e5e5;
}

/*# sourceMappingURL=ui-floor-area.css.map */
