//垂直水平居中
@mixin create-v-h-center($width:0,$heigth: 0, $zIndex: 2) {
  width: $width;
  height: $heigth;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -($width / 2);
  margin-top: -($heigth / 2);
  z-index: $zIndex;
}

@mixin create-h-center($heigth: 0, $zIndex: 2) {
  position: absolute;
  top: 50%;
  margin-top: -($heigth / 2);
  z-index: $zIndex;
}
