$theme-color: #ff7d95;
$theme-font-color: #333333;
$theme-color-search-btn: #ff4466;

$theme-border-color: #e5e5e5;
$theme-border-color1: #e7e7e7;
$theme-border-color2: #ffba00;

$theme-floor-bg-color: #f0f0f0;
$theme-card-list-bg-color: #fcfcfc;
$theme-card-total-bg-color: #f5f5f5;

$theme-goods-desp-color:#cdcdcd;

$theme-goods-flag0-color:#cccccc;
$theme-goods-flag1-color:#fdcc36;
$theme-goods-flag2-color:#ff889e;
$theme-goods-flag3-color:#7feb91;
$theme-goods-flag4-color:#36b0fd;


$theme-color-floor-top-title:#666666;
$theme-color-fliter-bar-item-link:#888888;

$theme-color-floor-top-desp:#9e9e9e;


