.row {
  .span1, .span10, .span11, .span12, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9 {
    float: left
  }
  .span12 {
    width: 100%
  }
  .span11 {
    width: 91.66666667%
  }
  .span10 {
    width: 83.33333333%
  }
  .span9 {
    width: 75%
  }
  .span8 {
    width: 66.66666667%;
  }
  .span7 {
    width: 58.33333333%
  }
  .span6 {
    width: 50%
  }
  .span5 {
    width: 41.66666667%
  }
  .span4 {
    width: 33.33333333%;
  }
  .span3 {
    width: 25%
  }
  .span2 {
    width: 16.66666667%
  }
  .span1 {
    width: 8.33333333%
  }
}
