@import "compass";
@import "compass/css3";
@import "../_base/_color";
@import "../_base/_size";
@import "../_mixin/position";

$card-goods-width: 360px;
$card-people-width: 128px;
//$card-charge-width:128px;
$card-status-width: $area-width - $card-goods-width - $card-people-width * 3;

.input-check {
  float: none;
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin: 0 3px 0 0;
  padding: 0;
}

.card-header {
  padding: 10px 0;
  background: $theme-floor-bg-color;
  color: $theme-color-floor-top-title;
}

.card-goods {
  width: $card-goods-width;
}

%card-header-item-width {
  width: $card-people-width;
}

.card-header-item {
  @extend %card-header-item-width;
  text-align: center;
}

.card-header-info {
  margin-left: 121px;
}

.card-status {
  width: $card-status-width;
}

.card-list-area {
  width: $area-width - 2px;
  border: 1px solid $theme-border-color;
}

.card-list-header {
  height: 40px;
  line-height: 40px;
  background: $theme-card-list-bg-color;
}

.card-list-header-date {
  width: 200px;
}

.card-list-header-order-no {
  width: 300px;
}

.card-list-item {
  height: 65px;
  line-height: 65px;

  a {
    text-decoration: none;
  }
}

$card-list-goods-padding-left: 42px + 20px + 10px;
$card-list-goods-width: $card-goods-width - 3px - $card-list-goods-padding-left;

.card-list-goods {
  width: $card-list-goods-width;
  padding-left: $card-list-goods-padding-left;
  border-right: 1px solid $theme-border-color;
}

.card-list-item-span {
  width: $card-people-width - 1px;
  border-right: 1px solid $theme-border-color;

  &:last-child {
    border: none;
  }
}

.card-list-item-status {
  width: $card-status-width;
}

.card-list-goods-img {
  width: 42px;
  height: 42px;
  @include create-h-center(42px);
  left: 20px;
}

$card-list-goods-name-width: 240px;

.card-list-goods-name {
  width: $card-list-goods-name-width;
}

$card-list-goods-num-width: 80px;
.card-list-goods-num {
  position: relative;
  width: $card-list-goods-num-width;
  height: 22px;
  margin: 14px 0 0 24px;

  .num-btn {
    width: 16px;
    height: 18px;
    line-height: 18px;
    padding: 1px 0;
    border: 1px solid $theme-border-color;
    text-align: center;
    color: #666;
    background: #fff;
    text-decoration: none;
  }

  .num-btn-left {
    border-right: 0;
  }

  .num-btn-right {
    border-left: 0;
  }

  .num-txt {
    position: absolute;
    left: 17px;
    top: 0;
    width: 42px;
    height: 18px;
    padding: 1px;
    line-height: 18px;
    text-align: center;
    border: 1px solid $theme-border-color;
    font-size: 12px;
  }
}

.card-goods-num-desp {
  margin-top: 6px;
  line-height: 14px;
}

.card-list-goods-amount {
  width: $card-list-goods-width - $card-list-goods-name-width - $card-list-goods-num-width;
}

$card-total-area-btn-width: 120px;

.card-total-area {
  width: $area-width - 2 - $card-total-area-btn-width;
  height: 43px;
  line-height: 43px;
  padding-right: $card-total-area-btn-width;
  border: 1px solid $theme-border-color1;
  background: $theme-card-total-bg-color;
}

.card-total-area-btn {
  width: 120px;
  height: 45px;
  line-height: 45px;
  background: $theme-color-search-btn;
  color: #fff;
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 2;
}

.card-shop-check {
  margin: 0 3px 0 20px;
}
