@import "compass";
@import "../_base/_color";
@import "../_base/_size";

$goods-area-height: 668px;
$goods-area-width: $area-width - 2px;

$goods-area-item-width: $goods-area-width / 4 - 1;
$goods-area-item-image-width: 111px;

.goods-area {
  width: $goods-area-width;
  //height: $goods-area-height;
  height: auto;
  border-top: 1px solid $theme-border-color;
  border-left: 1px solid $theme-border-color;

  li {
    width: $goods-area-item-width;
    height: 131px;
    position: relative;
    float: left;
    border-right: 1px solid $theme-border-color;
    border-bottom: 1px solid $theme-border-color;
  }
}

.goods-link {
  &:hover {
    .goods-desp-title {
      color: $theme-color-search-btn;
    }

    &:after {
      width: 100%;
      height: 100%;
      content: '';
      visibility: visible;
      position: absolute;
      top: -1px;
      left: -1px;
      border: 1px solid $theme-color-search-btn;
    }
  }
}

.goods-img-area {
  width: $goods-area-item-image-width;
}

.goods-img {
  width: 80px;
  height: 80px;
  margin: 24px 0 0 12px;
  @include border-radius(50%);
}

.goods-desp-area {
  width: $goods-area-item-width - $goods-area-item-image-width;
}

.goods-desp-title {
  margin: 18px 0 13px 0;
  font-weight: bold;
  font-size: 22px;
}

.goods-desp-desp {
  color: $theme-goods-desp-color;
}

.goods-desp-flag {
  margin: 15px 0 0 0;

  span {
    margin-right: 3px;
    padding: 5px 10px;
    color: #fff;
    @include border-radius(15px);
  }

  .flag-0 {
    background: $theme-goods-flag0-color;
  }
  .flag-1 {
    background: $theme-goods-flag1-color;
  }
  .flag-2 {
    background: $theme-goods-flag2-color;
  }
  .flag-3 {
    background: $theme-goods-flag3-color;
  }
  .flag-4 {
    background: $theme-goods-flag4-color;
  }
}
