@import "../_base/_color";

.ui-head-bar {
  height: 36px;
  line-height: 36px;
  color: #fff;
  background-color: $theme-color;
}

.ui-head-right {
  border-right: 1px solid #fff;
}

.ui-head-r-item {
  padding: 0 20px;
  float: right;
  border-left: 1px solid #fff;
}
