@import "compass";
@import "compass/css3";
@import "../_base/_color";
@import "../_base/_size";
$ui-interest-area-height: 292px;
$ui-interest-area-item-width: 182px;
$ui-interest-area-item-image-height: 179px;
.ui-interest-area {
  height: $ui-interest-area-height - 2;
  width: $area-width - 2;
  border: 1px solid $theme-border-color;
}

.ui-interest-item {
  width: $ui-interest-area-item-width - 1;
  height: $ui-interest-area-height;
  border-right: 1px solid $theme-border-color;
}

.ui-interest-item-image-area {
  height: $ui-interest-area-item-image-height;
}

.ui-interest-item-txt {
  height: $ui-interest-area-height - $ui-interest-area-item-image-height;
  padding: 0 5px 0 20px;
}

.ui-interest-item-desp {
  margin-top: 5px;
  line-height: 16px;
}
