@import "../_base/_color";
@import "../_base/_size";

$search-area-logo-width: 294px;
$search-area-right-width: 267px;
$search-area-box-width: $area-width - $search-area-logo-width -$search-area-right-width;

$serach-form-btn-width: 80px;

$serach-form-box-height: 45px;

$serach-form-input-paddding-left: 8px;

.search-area {
  height: 80px;
  line-height: 80px;
}

.search-area-logo {
  width: $search-area-logo-width;
}

.search-area-box {
  width: $search-area-box-width;
}

.search-area-right {
  width: $search-area-right-width;
}

.serach-form-box {
  height: $serach-form-box-height;
  border: 1px solid #ccc;
  margin: 18px 0 0 0;
}

.serach-form-input-box {

}

.serach-form-input {
  width: $search-area-box-width - $serach-form-btn-width - $serach-form-input-paddding-left;
  height: 26px;
  line-height: 26px;
  padding: 10px 0 0 $serach-form-input-paddding-left;
  font-weight: normal;
  overflow: hidden;
  color: #000;
}

.serach-form-btn {
  position: absolute;
  top: -1px;
  right: 0;
  width: $serach-form-btn-width;
  height: $serach-form-box-height + 2;
  background-color: $theme-color-search-btn;
}
