@import "compass";
@import "../_base/_color";
@import "../_base/_size";

$slide-area-height: 344px;

.swiper-container{
  overflow: initial;
}

.slide-area {
  height: $slide-area-height;

}

.ui-slide {
  position: relative;

  // li {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
}

.ui-slide-arrows {

}

%ui-slide-btn {
  height: $slide-area-height;
  position: absolute;
  top: 0;
  right:0;
  margin: 0;
  padding: 0;
  z-index: 10;
  background: #fff;
  @include opacity(0.75);
}

.ui-slide-prev {
  @extend %ui-slide-btn;
  left: -$area-width;
}

.ui-slide-next {
  @extend %ui-slide-btn;
  left: $area-width;
}
