@import "../_base/_color";

.tab-menu-area {
  height: 102px;
}

$tab-menu-content-width: 604px;

.tab-menu-content {
  width: $tab-menu-content-width;
  height: 40px;
  line-height: 40px;
  border: 1px solid $theme-color-search-btn;

  margin-top: 36px;

  li {
    width: $tab-menu-content-width / 4 - 1;
    text-align: center;
    border-right: 1px solid $theme-color-search-btn;

    &:last-child {
      border: none;
    }

    &.active {
      background: $theme-color-search-btn;
      color: #fff;
    }
  }
}
