@import "../_base/_color";
@import "../_base/_size";

$floor-area-height: 219px;
$ui-floor-area-top-height: 164px;

.ui-floor-area {
  height: $floor-area-height;
  background: $theme-floor-bg-color;
  margin-top: 45px;
}

.ui-floor-area-top {
  height: $ui-floor-area-top-height;

  li {
    width: 20%;
    height: 100%;
    float: left;
  }

  h4 {
    margin: 40px 0 18px 0;
    color: $theme-color-floor-top-title;
  }

  p {
    margin-bottom: 13px;
    color: $theme-color-floor-top-desp;
  }
}

.ui-floor-area-bottom {
  color: $theme-goods-desp-color;
  height: $floor-area-height - $ui-floor-area-top-height;
  line-height: $floor-area-height - $ui-floor-area-top-height;
  border-top: 1px solid $theme-border-color;
}
