@import "compass";
@import "compass/css3";
@import "../_base/_color";
@import "../_mixin/position";

$ui-confirm-width: 410px;
$ui-confirm-height: 175px;
$ui-confirm-line-height: 5px;

.ui-confirm {
  @include create-v-h-center($ui-confirm-width, $ui-confirm-height + $ui-confirm-line-height);
  text-align: center;

  .ui-line {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    heigth: $ui-confirm-line-height;
    background: $theme-color-search-btn;
  }

  .ui-title {
    margin-top: 25px;
    font-size: 18px;
    color: $theme-font-color;
  }

  .ui-desp {
    margin-top: 20px;
    font-size: 14px;
    color: $theme-color-floor-top-title;
  }

  .ui-btn-area{
    margin-top: 53px;
  }

  %btn {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }

  .ui-btn-confirm {
    @extend %btn;
  }

  .ui-btn-cancel {
    @extend %btn;
    color: #fff;
    background: $theme-color-search-btn;
  }
}
