@import "compass";
@import "compass/css3";
@import "../_base/_color";
@import "../_mixin/position";

$ui-dialog-box-width: 500px;
$ui-dialog-box-border-size: 4px;
$ui-dialog-box-height: 440px - $ui-dialog-box-border-size;
$ui-dialog-img-height: 119px;
$ui-dialog-box-form-height: $ui-dialog-box-height - $ui-dialog-img-height;

.ui-dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;

  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    @include opacity(0.75);
    visibility: visible;
    content: '';
  }
}

.ui-dialog-box {
  @include create-v-h-center($ui-dialog-box-width, $ui-dialog-box-height + $ui-dialog-box-border-size);
  background: #fff;
  @include opacity(1);
  border-top: $ui-dialog-box-border-size solid $theme-color-search-btn;
}

.ui-dialog-img {
  height: $ui-dialog-img-height;
}

.ui-dialog-box-form {
  height: $ui-dialog-box-form-height;
}

$ui-dialog-box-input-width: 338px;
$ui-dialog-box-input-l-width: 62px;
.ui-dialog-box-input {
  width: $ui-dialog-box-input-width;
  height: 48px;
  line-height: 48px;
  margin-top: 10px;
  border: 1px solid $theme-border-color;

  &.first {
    margin-top: 40px;
  }
}

.ui-dialog-box-input-l {
  width: $ui-dialog-box-input-l-width;
}

.ui-dialog-box-input-r {
  width: $ui-dialog-box-input-width - $ui-dialog-box-input-l-width;
}

.ui-dialog-form-input {
  width: 100%;
  height: 26px;
  line-height: 26px;
  padding: 12px 0 0 0;
  font-weight: normal;
  overflow: hidden;
  color: #000;
}

.ui-dialog-box-submit {
  display: inherit;
  margin-top: 46px;
  font-size: 18px;
  color: #fff;
  background: $theme-color-search-btn;
}

.ui-dialog-box-sign-link {
  margin-top: 30px;
}
