@import "compass";
@import "compass/utilities/sprites";

$icons-h-spacing: 15px;
$icons-h-layout: smart;

@import "icons-h/*.png";

@include all-icons-h-sprites();

.icons-h-locat {
  width: 16px;
  height: 20px;
  margin: 8px 8px 0 0;
}

.icons-h-shopping-cart {
  width: 21px;
  height: 20px;
  margin: 8px 8px 0 0;
}

.icons-h-logo {
  width: 90px;
  height: 51px;
  margin: 20px 0 0 0;
}

.icons-h-slogan {
  width: 150px;
  height: 20px;
  margin: 34px 0 0 10px;
}

.icons-h-flag {
  width: 62px;
  height: 62px;
  margin: 12px 0 0 14px;
}

.icons-h-login-user {
  width: 27px;
  height: 29px;
  margin: 10px 0 0 14px;
}

.icons-h-login-ps {
  width: 25px;
  height: 31px;
  margin: 12px 0 0 14px;
}
